.brand-introduction{
	padding-top: 45px;
	h1{
		font-size: 28px;
		color: #4A4A4A;
		margin-bottom: 6px;
		line-height: 40px;
	}
	p{
		font-size: 16px;
		line-height: 30px;
		color: #666666;
		margin-bottom: 0;
	}
}
.brand-introduce-number{
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 16px;
	color: #9B9B9B;
	line-height: 1;
	span{
		color: #666666;
		font-size: 40px;
		vertical-align: text-top;
		font-weight: bold;
		line-height: 0.7;
	}
}
.server-box{
	margin-bottom: 95px;
	position: relative;
}
.next_end{
	transform: rotate(180deg);
	background-image: url(/images/pic_branklist_previous@2x.png) !important;
}
.prev_start{
	transform: rotate(180deg);
	background-image: url(/images/ic_branklist_morre@2x.png) !important;
}
.news-detail-title{
	margin-top: 190px;
}
.noData{
	text-align: center;
	margin-bottom: 20px;
}
.loading{
	text-align: center;
	img{
		width: 30px;
		height: auto;
		margin: 0 auto 20px;
		vertical-align: middle;
		
	}
}
.serch-box .serch-icon{
	cursor: pointer;
}